# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environment variables / secrets
.env
.env.*

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
